<h1>Add a new ingredient to <%= @cocktail.name %></h1>
<%= link_to "Back to cocktail", cocktail_path(@cocktail)  %>

<%= simple_form_for [:cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.collection_select(:ingredient_id, @available_ingredients, :id, :name)%>
<%= f.submit %>
<% end  %>
